<main class="home-ring">
  <div ></div>
  <a href="javascript:void(0);" class="home-button home-button--clip home-button--top-clip">
      Rules
  </a>
  <a href="javascript:void(0);" class="home-button home-button--full-size">
      Play online
  </a>
  <a href="javascript:void(0);" class="home-button home-button--full-size">
      Play local
  </a>
  <a disabled href="javascript:void(0);" class="home-button home-button--clip home-button--bottom-clip">
      Shop <span class="home-button__subtext">(coming soon)</span>
  </a>
</main>
