<h1>this will be your profile page</h1>

<p>I want to show your game history here. Maybe even let you review past games / take over and start playing it locally at any point during the game? That could be cool...</p>

<p>Right now you can only really go to the <%= link_to('create a local game', new_game_path) %> page</p>

<table class="table">
  <tr class="table__row">
    <td class="table__left-col">Win/Loss</td>
    <td class="table__right-col"><%= @user.record %></td>
  </tr>
</table>
