
<h1 id="lobby-heading" class="lobby-main-heading">Online Play</h1>

<%  render partial: 'local_game' %>
<div
  id="new-game-lobby-container"
  class="new-game__container"
  data-auth-token="<%= form_authenticity_token %>"
  data-id="<%= session[:id] %>"
  data-name="<%= current_user.username %>"
>
</div>
