@import 'variables';
#game {
  height: 100%;
  width: 100%;
}

#game-main {
  height: 100vh;
  width: 100vw;
}

.game-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__right-cell {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25vw;
  }
}

.resign-game-button {
  height: 3rem;
  color: white;
  font-family: $font-myriad;
  background-color: $stackPreviewColor;
  margin: 0.5rem 1rem;
  font-size: 1rem;
}

.lobby__players-tile {
  display: flex;
}

.lobby__player-container {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  .player__card {
    color: white;
  }
  .player__card:nth-of-type(2n) {
    background-color: $cityColor;
  }
  .player__card:nth-of-type(2n - 1) {
    background-color: $countryColor;
  }
}
