@import 'variables';
#game {
  height: 100%;
  width: 100%;
}

#game-main {
  height: 100vh;
  width: 100vw;
}

.game-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.game-container__center-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.game-container__confirmation-label {
  padding-left: 0.5rem;
}

.stack-preview {
  height: 80%;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  width: 200px;
  margin: 0 40px 0 0; // media query here
  border: 1px solid black;
}

.stack-preview__card {
  display: block;
  position: static;
  height: 215px;
  width: 153px;
  z-index: 1;
  border: 0;
  flex-shrink: 0;
  margin: 5px 0;
  box-shadow: 5px 10px 10px black;
}

.lobby__players-tile {
  display: flex;
}

.lobby__player-container {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  .player__card {
    color: white;
  }
  .player__card:nth-of-type(2n) {
    background-color: $cityColor;
  }
  .player__card:nth-of-type(2n - 1) {
    background-color: $countryColor;
  }
}
