@import 'variables';
#game {
  height: 100%;
  width: 100%;
}

.game-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.game-container__center-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.game-container__confirmation-label {
  padding-left: 0.5rem;
}

.board {
  width: 660px;
  min-width: 350px;
  flex-shrink: 1;
  height:100%;
  max-height: 65rem;
  border: 1px solid black;
  display:flex;
  flex-direction: column;
  align-items: stretch;
}

.board__row {
  border: 1px solid black;
  flex-basis:20%;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-around;
}

.board__cell{
  display: inline-block;
  position: relative;
  flex-basis: 33%;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

@for $i from 0 through 15 {
  .stack-#{$i} {
    z-index: #{$i};
    @if $i < 3 {
      right: #{$i}0%;
    }
  }
}

.card {
  height: 100%;
  position: absolute;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 5px;
}

.cell-window {
  height: 80%;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  width: 200px;
  margin: 0 40px 0 0; // media query here
  border: 1px solid black;
}

.cell-window__card {
  display: block;
  position: static;
  height: 215px;
  width: 153px;
  z-index: 1;
  border: 0;
  flex-shrink: 0;
  margin-bottom: 10px;
  box-shadow: 5px 10px 10px black;
}

.board__highlight {
  height: 100%;
  width: 100%;
  background-color: green;
  position: absolute;
  opacity: 0.33;
  z-index: 11;

  &:hover {
    background-color: blue;
  }
}

.game__cancel-button {
  height: 40px;
  font-weight: 800;
  align-self: center
}

.new-game {
  display: flex;
  justify-content: space-between;
}

.new-game__container {
  flex-basis: 45%;
}

.lobby__players-tile {
  display: flex;
}

.lobby__player-container {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  .player__card {
    color: white;
  }
  .player__card:nth-of-type(2n) {
    background-color: $cityColor;
  }
  .player__card:nth-of-type(2n - 1) {
    background-color: $countryColor;
  }
}
