@import 'variables';
.player {
  list-style-type: none;
  display: flex;
  height: 4rem;
  margin-bottom: 0.25rem;

  &:nth-of-type(2n) {
    background-color: $lobbyAlternateOrange;
    .player__button-container {
      &--single {
        border-right: 0.25rem solid $sessionsBackground;
      }
      &:nth-of-type(2n) {
        background-color: $sessionsBackground;
      }
    }
  }
  &:nth-of-type(2n+1) {
    background-color: $sessionsBackground;
    .player__button-container {
      &--single {
        border-right: 0.25rem solid $lobbyAlternateOrange;
      }
      &:nth-of-type(2n) {
        background-color: $lobbyAlternateOrange;
      }
    }
  }
  &__button-container {
    padding: 0.25rem;
    display: flex;
  }

  &__button {
    height: 3.5rem;
    border-radius: 1rem;
    background-color: $lobbyPrimaryButtonColor;
    color: white;
    font-size: 2rem;
    font-family: $font-mochi;
    width: 8rem;
    border: none;
    @include outlineLight(black);

    &--secondary {
      background-color: $lobbySecondaryButtonColor;
    }
  }

  &__name-container {
    flex-grow: 1;
    font-size: 2rem;
    letter-spacing: 0.0625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include outlineLight(black);
  }

  &__rejected-notification {
    font-size: 2rem;
    width: 8rem;

  }

  &__static-notification {
    margin: auto;
    width: 8rem;
    text-align: center;
    @include outlineLight(black);
    font-size: 2rem;

    &--pending {
      @keyframes blink {
        0% {
          opacity: 1;
        }
        20% {
          opacity: .2;
        }
        100% {
          opacity: 1;
        }
      }

      .player__loading-dot {
        font-size: 5rem;
        line-height: 2rem;
        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: 5;
        animation-fill-mode: both;
      }

      .player__loading-dot:nth-child(2) {
        animation-delay: .2s;
      }

      .player__loading-dot:nth-child(3) {
        animation-delay: .4s;
      }
    }
  }
}
