@import 'variables';

.player-icons {
  width: 30%;
  height: 100%;

  &__player-container {
    height: 45%;
    transition: height 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--top {
      border-radius: 0 0 1rem 0;
      justify-content: flex-end
    }
    &--bottom {
      border-radius: 0 1rem 0 0;
    }
    &--city {
      background-color: $cityPlayerColor;
    }
    &--country {
      background-color: $countryPlayerColor;
    }
    &--active {
      height: 55%;
    }
  }

  &__profile-picture {
    border-radius: 50%;
    border: 2rem solid #bfbfbf;
    height: 35vh;
    width: 35vh;
    flex-shrink: 0;
    box-sizing: border-box;
  }

  &__user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 1.5rem 0;
  }

  &__user-name {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 1rem;

    &--city {
      color: white;
      text-shadow:
        1px 1px black,
        -1px 1px black,
        1px -1px black,
        -1px -1px black,
      ;
    }
    &--country {
      color: black;
      text-shadow:
        1px 1px white,
        -1px 1px white,
        1px -1px white,
        -1px -1px white,
      ;
    }
  }
}
