@import 'variables';

.stack-preview {
  flex: 0 0 45%;
  margin: 0.5rem 1rem;
  background-color: $stackPreviewColor;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;

  &__title {
    font-family: $font-mochi;
    text-align: center;
    color: white;
    font-weight: 400;
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  &__card {
    // display: block;
    // position: static;
    // height: 215px;
    // width: 153px;
    // z-index: 1;
    // border: 0;
    // flex-shrink: 0;
    // margin: 5px 0;
    // box-shadow: 5px 10px 10px black;
    //height breaks on safari
    max-height: 80%;
    height: 80%;
    margin: 0.25rem;
  }

  &__stack-container {
    display: flex;
    flex-direction: row;
    // overflow: hidden;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
  // &__slider {
  //   -webkit-appearance: none;
  //   height: 1rem;
  //   background: $sliderBackgroundColor;
  //   outline: none;
  //   border-radius: 0.5rem;
  // }

  // &__slider::-webkit-slider-thumb {
  //   -webkit-appearance: none;
  //   appearance: none;
  //   width: 30%;
  //   height: 1rem;
  //   background: white;
  //   cursor: pointer;
  //   border-radius: 0.5rem;
  // }

  // &__slider::-moz-range-thumb {
  //   width: 30%;
  //   height: 1rem;
  //   background: white;
  //   cursor: pointer;
  //   border-radius: 0.5rem;
  // }
}