@import 'variables';

.stack-preview {
  flex: 0 0 45%;
  margin: 0 1rem;
  background-color: $stackPreviewColor;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  max-height: 45%;

  &__spacer {
    width: 100%; //crude solution to flex breaking aspect ratio
  }

  &__title {
    font-family: $font-mochi;
    text-align: center;
    color: white;
    font-weight: 400;
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  &__card {
    margin: 0.25rem;
  }

  &__stack-container {
    display: flex;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
  }
  // &__slider {
  //   -webkit-appearance: none;
  //   height: 1rem;
  //   background: $sliderBackgroundColor;
  //   outline: none;
  //   border-radius: 0.5rem;
  // }

  // &__slider::-webkit-slider-thumb {
  //   -webkit-appearance: none;
  //   appearance: none;
  //   width: 30%;
  //   height: 1rem;
  //   background: white;
  //   cursor: pointer;
  //   border-radius: 0.5rem;
  // }

  // &__slider::-moz-range-thumb {
  //   width: 30%;
  //   height: 1rem;
  //   background: white;
  //   cursor: pointer;
  //   border-radius: 0.5rem;
  // }
}