@import 'variables';
.profile {
  font-family: $font-mochi;
  color: white;
  background-color: $profileBackgroundColor;
  height: 100%;
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  &__heading {
    position: absolute;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
  }
}
.profile-picture--thumb {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 5px;
  @include background-image-default;
}

.user-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top-container {
    display: flex;
    flex-direction: column;
  }

  &__record {
    margin: 0;
    text-align: left;
    padding-left: 2rem;
    &--losses {
      font-size: 1.375rem;
    }
    &--wins {
      font-size: 2rem;
    }
  }

  &__joined-date {
    font-size: 2rem;
  }
}

.player-icons__profile-picture {
  &.player-icons__profile-picture--user-page {
    height: 15rem;
    width: 15rem;
  }
}

.past-games {
  padding: 2rem;
}

.game-history-table {
  &__data {
    text-align: center;
    &--unfinished {
      font-family: auto;
    }
  }
}
