$countryColor: #5e7fe4;
$cityColor: #e67c42;

$cityPlayerColor: #0b153d;
$countryPlayerColor: #eeb166;

$cellDark: #b4b4b4;
$cellLight: #e5e5e5;

$cancelMoveColor: #5e5e5e;
$stackPreviewColor: #6f6f6f;
$sliderBackgroundColor: #b3b7b9;

$profileBackgroundColor: #0f0f3e;

$profileHeaderColors: #23235b #4b4b82 #424279 #383870 #2e2e66;

$profileBodyOddColors: #555599 #6f6faf #6969aa #6363a5 #5c5c9f;

$profileBodyEvenColors: #47478b #6565a5 #5e5e9f #575799 #4f4f92;

@mixin background-image-default {
  background-image: image-url('no-photo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'gogono_cocoa_mochi';
  src: font-url('gomarice_gogono_cocoa_mochi.eot');
  src: font-url('gomarice_gogono_cocoa_mochi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'myriad_pro_regular';
  src: font-url('MYRIADPRO-REGULAR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-mochi: gogono_cocoa_mochi;
$font-myriad: myriad_pro_regular;

@mixin descriptive-text ($large) {
  font-family: $font-mochi;
  color: white;
  font-size: 2rem;
  @if $large {
    font-size: 2.5rem;
  }
}
