$countryColor: #5e7fe4;
$cityColor: #e67c42;

$cityPlayerColor: #0b153d;
$countryPlayerColor: #eeb166;

$cellDark: #b4b4b4;
$cellLight: #e5e5e5;

$stackPreviewColor: #6f6f6f;
$cancelMoveColor: $stackPreviewColor;
$sliderBackgroundColor: #b3b7b9;
$profileBorderColor: #bfbfbf;

$profileBackgroundColor: #0f0f3e;

$profileHeaderColors: #23235b #4b4b82 #424279 #383870 #2e2e66;

$profileBodyOddColors: #555599 #6f6faf #6969aa #6363a5 #5c5c9f;

$profileBodyEvenColors: #47478b #6565a5 #5e5e9f #575799 #4f4f92;

$sessionsBackground: #f6af5d;
$darkOrange: #bb7b36;
$lightOrange: #fce4c8;
$veryLightOrange: #fef6ec;
$buttonShadowColor: $stackPreviewColor;
$lobbyAlternateOrange: #d99953;
$lobbyPrimaryButtonColor: #55b978;
$lobbySecondaryButtonColor: #ef6b4e;

@mixin background-image-default {
  background-image: image-url('no-photo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'gogono_cocoa_mochi';
  src: font-url('gomarice_gogono_cocoa_mochi.eot');
  src: font-url('gomarice_gogono_cocoa_mochi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'myriad_pro_regular';
  src: font-url('MYRIADPRO-REGULAR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-mochi: gogono_cocoa_mochi;
$font-myriad: myriad_pro_regular;

@mixin descriptive-text ($large) {
  font-family: $font-mochi;
  color: white;
  font-size: 2rem;
  @if $large {
    font-size: 2.5rem;
  }
}

@mixin textOutline ($color) {
  text-shadow:
    3px 3px $color,
    -3px 3px $color,
    3px -3px $color,
    -3px -3px $color,
    0 3px $color,
    -3px 0 $color,
    3px 0 $color,
    0 -3px $color
  ;
}

@mixin textOutlineLight ($color) {
  text-shadow:
    2px 2px $color,
    -2px 2px $color,
    2px -2px $color,
    -2px -2px $color,
    0 2px $color,
    -2px 0 $color,
    2px 0 $color,
    0 -2px $color
  ;
}
@mixin boxShadowOutline ($color) {
  box-shadow:
    2px 2px $color,
    -2px 2px $color,
    2px -2px $color,
    -2px -2px $color,
    0 2px $color,
    -2px 0 $color,
    2px 0 $color,
    0 -2px $color
  ;
}
@mixin outlineShadow ($color1, $color2) {
  text-shadow:
    2px 2px $color1,
    -2px 2px $color1,
    2px -2px $color1,
    -2px -2px $color1,
    0 2px $color1,
    -2px 0 $color1,
    2px 0 $color1,
    0 -2px $color1,
    -2px 2px 4px $color2;
}
@mixin outlineShadowLight ($color1, $color2) {
  text-shadow:
    1px 1px $color1,
    -1px 1px $color1,
    1px -1px $color1,
    -1px -1px $color1,
    0 1px $color1,
    -1px 0 $color1,
    1px 0 $color1,
    0 -1px $color1,
    -2px 2px 4px $color2;
}

@mixin clickableRegion () {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin pendingDots ($block) {
  &--pending {
    @keyframes blink {
      0% {
        opacity: 1;
      }
      20% {
        opacity: .2;
      }
      100% {
        opacity: 1;
      }
    }

    .#{$block}__loading-dot {
      font-size: 5rem;
      line-height: 2rem;
      animation-name: blink;
      animation-duration: 1s;
      animation-iteration-count: 5;
      animation-fill-mode: both;
    }

    .#{$block}__loading-dot:nth-child(2) {
      animation-delay: .2s;
    }

    .#{$block}__loading-dot:nth-child(3) {
      animation-delay: .4s;
    }
  }
}

@mixin whiteButton () {
  background-color: white;
  border: none;
  border-radius: 0.675rem;
  box-sizing: border-box;
  padding: 0.25rem 1rem;
  font-family: $font-mochi;
  color: black;
  font-size: 2rem;
  box-shadow: -0.125rem 0.125rem 0.125rem $buttonShadowColor;
  white-space: nowrap;
  @include outlineShadow(white, black);
}

@mixin flexCenter () {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button () {
  @include outlineShadowLight(black, black);
  @include flexCenter();
  margin: 0.5rem;
  background-color: $sessionsBackground;
  box-sizing: border-box;
  font-family: $font-mochi;
  color: white;
  white-space: nowrap;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  width: 21rem;
  height: 3.5rem;
  letter-spacing: 2px;
  border: 0.25rem solid white;
  box-shadow: -0.0625rem 0.0625rem 0.25rem black;
  border-radius: 1rem;
}
@mixin buttonSmall () {
  border: 0.1875rem solid white;
  box-shadow: -0.0625rem 0.0625rem 0.25rem black;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  height: auto;
  padding: 0.5rem 0.75rem;
  letter-spacing: 1px;
  width: auto;
  margin: 0.25rem;
}
